<style>
  div.flex-wrap {
    width: 500px;
  }

  :host {
    display: flex;
  }
</style>

<div class="d-flex flex-wrap">
  <ng-container *ngIf="!(isFetching$ | async)">
    <div
      *ngFor="let pokemon of pokemons$ | async"
      class="d-flex flex-column w-fit-content"
    >
      <!-- todo: component -->
      <img
        [src]="pokemon.sprites.front_default"
        class="cursor-pointer"
        (click)="selectPokemon(pokemon)"
      />
      <span class="text-center cursor-normal"> {{ pokemon.name }}</span>
    </div>
  </ng-container>
  <!-- todo component -->
  <div class="d-flex justify-content-around w-100 mt-4">
    <button
      (click)="getPreviousPage()"
      class="btn btn-primary"
      [disabled]="(offset$ | async) === 0"
    >
      previous
    </button>
    <button
      (click)="getNextPage()"
      class="btn btn-primary"
      [disabled]="(offset$ | async) === 130"
    >
      next
    </button>
  </div>
</div>
<router-outlet></router-outlet>
