<form class="mt-4 d-flex flex-column w-100" [formGroup]="statsForm">
  <label *ngFor="let stat of pokemon.stats" class="d-flex flex-column w-100">
    <div class="d-flex justify-content-between">
      <span
        class="mr-3"
        [class.text-danger]="statsForm.controls[stat.stat.name].errors"
        [class.font-weight-bold]="statsForm.controls[stat.stat.name].errors"
        >{{ stat.stat.name }}</span
      >
      <input
        min="1"
        max="300"
        type="number"
        [formControlName]="stat.stat.name"
        [class.error]="statsForm.controls[stat.stat.name].errors"
      />
    </div>

    <p
      class="m-0 small text-danger"
      [class.text-transparent]="!statsForm.controls[stat.stat.name].errors"
    >
      {{
        statsForm.controls[stat.stat.name].errors
          ? "Provide value between 1 and 300"
          : "_"
      }}
    </p>
  </label>
  <button
    class="btn btn-warning"
    (click)="toggleEditMode()"
    [disabled]="isEditMode && !statsForm.valid"
  >
    {{ isEditMode ? "Save" : "Edit" }}
  </button>
</form>
