/* You can add global styles to this file, and also import other style files */
@import "bootstrap";

.w-fit-content {
  width: fit-content;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-normal {
  cursor: default;
}

.text-transparent {
  color: transparent !important;
}
